<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>

<body>
  <main>
    {% if page.parent_url %}
      <div class="sticky-nav-wrapper">
        <nav class="breadcrumb">
          <a href="{{ page.parent_url | replace: '.md', '.html' }}">&larr; Go back to {{ page.parent_title }}</a>
        </nav>
      </div>
    {% endif %}

    {{ content }}
  </main>
</body>

</html>

